* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

nav{
    padding: 0px 20px 50px 20px;
    margin: 0px;
    display:flex;
    background-color: rgb(238, 238, 238);
}

nav h1 {
    color:gray;
    margin: 0;
    padding-top: 10px;
    padding-left: 40px;
    font-family:'Trebuchet MS', sans-serif;
    flex: 50%;
}

div.smlogos {
    float: right;
    flex: 50%;
    margin-left: 85%;
    padding-top: 20px;
}

.mainproducts {
    background-color: rgb(238, 238, 238);
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}
.mainproducts > div{
    padding: 20px 0px 20px 80px;
}
.product1{
    grid-area: 1 / 1 / 1 / 1;
}

.product1 h2{
    margin: 0px;
    padding-left: 40px;
    font-size: 20px;
    padding-top: 5px;
    font-family: 'Gill Sans', sans-serif;
}
.product1 p{
    padding-left: 80px;
    font-family: 'Gill Sans', sans-serif;
    color: rgb(209, 60, 60);
    font-size: 15px;
}

.product1 button{
    border-radius: 1px;
    margin-left: 45px;
    padding: 5px 20px;
    border-width: 2px;
    border-color: grey;
}


.product2{
    grid-area: 1 / 2 / 2 / 2;
}

.product2 h2{
    margin: 0px;
    padding-left: 40px;
    font-size: 20px;
    padding-top: 5px;
    font-family: 'Gill Sans', sans-serif;
}
.product2 p{
    padding-left: 80px;
    font-family: 'Gill Sans', sans-serif;
    color: rgb(209, 60, 60);
    font-size: 15px;
}

.product2 button{
    border-radius: 1px;
    margin-left: 45px;
    padding: 5px 20px;
    border-width: 2px;
    border-color: grey;
}

.product3{
    grid-area: 1 / 3 / 3 / 3;
}

.product3 h2{
    margin: 0px;
    padding-left: 40px;
    font-size: 20px;
    padding-top: 5px;
    font-family: 'Gill Sans', sans-serif;
}
.product3 p{
    padding-left: 80px;
    font-family: 'Gill Sans', sans-serif;
    color: rgb(209, 60, 60);
    font-size: 15px;
}

.product3 button{
    border-radius: 1px;
    margin-left: 45px;
    padding: 5px 20px;
    border-width: 2px;
    border-color: grey;
}

.product4{
    grid-area: 2 / 1 / 4 / 4;
}

.product4 h2{
    margin: 0px;
    padding-left: 40px;
    font-size: 20px;
    padding-top: 5px;
    font-family: 'Gill Sans', sans-serif;
}
.product4 p{
    padding-left: 80px;
    font-family: 'Gill Sans', sans-serif;
    color: rgb(209, 60, 60);
    font-size: 15px;
}

.product4 button{
    border-radius: 1px;
    margin-left: 45px;
    padding: 5px 20px;
    border-width: 2px;
    border-color: grey;
}


.product5{
    grid-area: 2 / 2 / 3 / 2;
}

.product5 h2{
    margin: 0px;
    padding-left: 40px;
    font-size: 20px;
    padding-top: 5px;
    font-family: 'Gill Sans', sans-serif;
}
.product5 p{
    padding-left: 80px;
    font-family: 'Gill Sans', sans-serif;
    color: rgb(209, 60, 60);
    font-size: 15px;
}

.product5 button{
    border-radius: 1px;
    margin-left: 45px;
    padding: 5px 20px;
    border-width: 2px;
    border-color: grey;
}
.product6{
    grid-area: 2 / 3 / 3 / 3;
}

.product6 h2{
    margin: 0px;
    padding-left: 40px;
    font-size: 20px;
    padding-top: 5px;
    font-family: 'Gill Sans', sans-serif;
}
.product6 p{
    padding-left: 80px;
    font-family: 'Gill Sans', sans-serif;
    color: rgb(209, 60, 60);
    font-size: 15px;
}

.product6 button{
    border-radius: 1px;
    margin-left: 45px;
    padding: 5px 20px;
    border-width: 2px;
    border-color: grey;
}


.bottomproducts {
    background-color: grey;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}
.bottomproducts > div{
    padding: 20px 0px 20px 80px;
}

div.p1card {
    width: 80%;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
.p1card img {
    width: 100%;
    padding-top: 10px;
    
    }
  
div.p1card {
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 15px;
    padding: 10px 20px;
}

.p1card p{
    font-size: 20px;
    flex: 50%;
}

.p1card > .sampletxt{
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
}
.p1card h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.p1card > .price{
    display: flex;
    color: rgb(41, 41, 223);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.p1card > .price button{
    flex: 50%;
    float: right;
    border-radius: 1px;
    padding: 5px 30px;
    margin-top: 15px;
    border-width: 2px;
    border-color: gray;
    background-color: rgb(41, 41, 223);
    letter-spacing: 1px;
    color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
/* P1 ends here*/

div.p2card {
    width: 80%;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
.p2card img {
    width: 100%;
    padding-top: 10px;
    height: 450px;
    }
  
div.p2card {
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 15px;
    padding: 10px 20px;
}

.p2card p{
    font-size: 20px;
    flex: 50%;
}

.p2card > .sampletxt{
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
}
.p2card h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.p2card > .price{
    display: flex;
    color: rgb(41, 41, 223);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.p2card > .price button{
    flex: 50%;
    float: right;
    border-radius: 1px;
    padding: 5px 30px;
    margin-top: 15px;
    border-width: 2px;
    border-color: gray;
    background-color: rgb(41, 41, 223);
    letter-spacing: 1px;
    color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
  /* P2 ends here */

  div.p3card {
    width: 80%;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
.p3card img {
    width: 100%;
    padding-top: 10px;
    }
  
div.p3card {
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 15px;
    padding: 10px 20px;
}

.p3card p{
    font-size: 20px;
    flex: 50%;
}

.p3card > .sampletxt{
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
}
.p3card h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.p3card > .price{
    display: flex;
    color: rgb(41, 41, 223);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.p3card > .price button{
    flex: 50%;
    float: right;
    border-radius: 1px;
    padding: 5px 30px;
    margin-top: 15px;
    border-width: 2px;
    border-color: gray;
    background-color: rgb(41, 41, 223);
    letter-spacing: 1px;
    color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }