* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

nav{
    background-color: rgb(236, 236, 236);
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav a {
    color:black;
    float: right;
}

h1{
    margin: 0px;
    color:gray;
}

.logo
{
    float:left;
    padding: 20px 40px;
}

.smlogos{
    padding-top: 30px;
    padding-right: 40px;
}

.smlogos img{
    margin: 0px 3px;
}

.mainproducts{
    padding: 80px 150px;
    display:flex;
    flex-wrap: wrap;
    background-color: rgb(236, 236, 236);
}

.mainproducts > .product {
    flex: 33%;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
}

.mainproducts > .product button{
    border-radius: 1px;
    border-width: 2px;
    border-color: grey;
    padding: 5px 15px;
    transition-duration: 0.4s;
    font-family: fantasy;
}

.mainproducts > .product button:hover{
    background-color:rgb(186, 186, 186)
}

.mainproducts > .product p{
    color:rgba(230, 75, 75, 0.925);
    font-family: fantasy;
}

.mainproducts > .product h2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.bottomproducts {
    background: grey;
    padding: 80px 75px;
    display:flex;
}

.bottomproducts > .pcard{
    flex: 33%;
    margin: 5px;
    padding: 20px 30px 15px 30px;
    background-color: white;
}

.bottomproducts > .pcard p{
    font-size: 12px;
}

.bottomproducts > .pcard h2{
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container{
    display:flex;
    margin-top: 30px;
}

.price{
    flex:50%;
    float:left;
    color: blue;
    font-family: fantasy;
}

.pcard > .container > .price p{
    font-size: 20px;
}

.container > .pcard .but{
    flex:50%;
    float: right;
}

.but{
    padding-top: 12px;
}

.container button{
    border-radius: 1px;
    border-width: 2px;
    padding: 5px 30px;
    border-color: gray;
    background-color: rgb(41, 41, 223);
    letter-spacing: 1px;
    color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

@media screen and (max-width: 400px)
{
.mainproducts{
    flex-wrap:wrap;
}

.bottomproducts{
    flex-direction: column;
    flex:100%;
}

.bottomproducts > .pcard {
    flex-wrap: wrap;
    flex-direction: column;
    flex: 100%;
}
}